# --- Frontend ---
# Node Modules
/frontend/node_modules

# PnP Files (Yarn Plug'n'Play)
/frontend/.pnp
/frontend/.pnp.js

# Testing coverage reports
/frontend/coverage

# Production build
/frontend/build

# Miscellaneous
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Package manager lock files
/frontend/package-lock.json

# --- Backend ---
## Common Files
# Maven and Gradle
!/backend/**/.mvn/wrapper/maven-wrapper.jar
/backend/**/target/
/backend/**/build/
/backend/**/mvnw.cmd
/backend/**/.mvn/
/backend/**/mvnw

# IDE Specific
### STS (Spring Tool Suite)
/backend/**/.apt_generated
/backend/**/.classpath
/backend/**/.factorypath
/backend/**/.project
/backend/**/.settings
/backend/**/.springBeans
/backend/**/.sts4-cache

### IntelliJ IDEA
/backend/**/.idea
/backend/**/*.iws
/backend/**/*.iml
/backend/**/*.ipr

### NetBeans
/backend/**/nbproject/private/
/backend/**/nbbuild/
/backend/**/dist/
/backend/**/nbdist/
/backend/**/.nb-gradle/

### VS Code
/backend/**/.vscode/

# --- API Gateway ---
/backend/**/.env

/vmservice/.idea
/vmservice/.venv
/vmservice/__pycache__
/vmservice/.env
